
//header image
.bg-img
    background-image: url(https://static.pexels.com/photos/399161/pexels-photo-399161.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
//navigation styling
.navbar, .navbar-header
    background-color: black
    border: 0px

.navbar-default .navbar-nav > li > a, a:active
    color: white
    font-size: 20px
    text-transform: uppercase
    font-family: trebuchet ms

.navbar-default .navbar-nav > li > a:hover
    color: white
    text-decoration: underline #ff99cc

.navbar-default .navbar-brand
    color: white

.navbar .navbar-nav 
    display: inline-block
    float: none

.navbar .navbar-collapse 
    text-align: center
    background-color: transparent
    border: 0px


//Title styling
.title-header
    text-align: center
    color: white
    padding-top: 60px
    padding-right: 20px





//font styling

h1
    font-size: 80px
    font-weight: bolder
    margin-bottom: 50px
    color: #ff3377
    font-family: 'Julius Sans One', sans-serif
    transition: all .2s ease-in-out


h2
    font-size: 45px
    font-family: 'Julius Sans One', sans-serif
    text-align: center
    padding-bottom: 5%
    color: white
    font-weight: bold

.blink
    animation: blinker 1.25s linear infinite
    
@keyframes blinker
    50% { opacity: 0 }    

h3
    font-size: 35px
    font-family: 'Archivo Narrow', sans-serif
    text-align: center
    color: white
    text-decoration: underline #00b7b7
    padding-bottom: 5%

h4
    font-weight: bold
    //left off


p
    font-size: 15px
    font-family: 'Source Sans Pro', sans-serif
    color: white
    text-align: center   

b
    color: #ff99cc

li
    color: white





//about container
.about
    width: 100%
    padding-top: 10%
    padding-bottom: 10%
    overflow-y: auto

img
    width: 300px 
    height: 300px

//projects container
#projects
    padding-top: 25%
    padding-bottom: 100%
    width: 100%



//skills container
.skills
    padding-top: 5%
    padding-bottom: 50%
    width: 100%



//contact container
.contact
    padding-bottom: 20%
    padding-top: 5%
    width: 100%
    text-align: center



//IMG styling

#img
  padding: 15px
  height: 100%
  width: 100%
  opacity: 1
  display: block
  transition: .5s ease
  backface-visibility: hidden

.middle
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  border: solid #ff99cc

.img-effects:hover #img
  opacity: 0.3

.img-effects:hover .middle
  opacity: 1

.text
  background-color: grey;
  color: white;
  font-family: 'Source Sans Pro', sans-serif
  font-size: 18px;
  padding: 16px 32px;
  width: 100%;
  height: 100%;

